<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OCTAMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OCTAMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Article">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Story">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Qustions" asp-action="Qustions">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Volunteer" asp-action="Volunteer">Be volunteer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Assesment" asp-action="Assesment">Assesment</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            @{
                                if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login" style="color:white"> Login </a>
                                }
                                else
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout" style="color:white"> Logout @User.Identity.Name </a>
                                }
                            }


                        </li>
                    </ul>
                    @*<div style="width: 50px;height: 50px;border-radius: 50px;background: antiquewhite;"  class="authx">
                        <div class="auth-con">
                            <button type="button" class="btn btn-info" style="width:100%"><a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login" style="color:white">Login</a></button><br /><br />
                            <button type="button" class="btn btn-warning " style="width:100%"><a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login" style="color:white">Logout</a></button>

                        </div>
                    </div>*@
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OCTAMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    @*<script src="https://cdnjs.com/libraries/Chart.js"></script>*@
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
<script>
    var userData = [{
        values: [document.getElementById("uarticle").innerHTML, document.getElementById("ustory").innerHTML,
        document.getElementById("uquestion").innerHTML
        ],
        labels: ['Articles', 'Stories', 'Questions'],
        type: 'pie'
    }];

    var layout = {
        height: 400,
        width: "100%"
    };

    Plotly.newPlot('userChart', userData, layout);
</script>
<script>
    new FroalaEditor('#Article')
</script>
</html>
