

@model Questions
<div class="container">
    <!-- Content here -->
    <div class="container-md">


        @{
            if (User.Identity.IsAuthenticated)
            {


                <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#staticBackdrop">
                    Write Your Question
                </button>
            }
            else
            {
                <button type="button" class="btn btn-info btn-lg btn-block">
                    <a class="nav-link" style="color:white" asp-area="" asp-action="Login" asp-controller="Auth"> Please Login to Write Qustion</a>
                </button>
            }
        }


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="Question">Write Your Question</label>
                                <textarea class="form-control" asp-for="Question" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Ask</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <div class="container-md">
        <div>
            @{
                if (ViewBag.QuestionData != null)
                {
                    foreach (Questions qt in ViewBag.QuestionData)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">@qt.Uid</h6>
                                <p class="card-text qust"><b>Question : </b> @qt.Question</p>

                                @{
                                    if (qt.Answer.Length > 0)
                                    {
                                        <p class="card-text" style="font-weight: 400;"><b>Ans. </b> @qt.Answer</p>
                                    }
                                    else
                                    {



                                        if (ViewBag.IsDoctor!=null && ViewBag.IsDoctor)
                                        {
                                            @using (Html.BeginForm("Answer", "Qustions", FormMethod.Post))
                                            {
                                                <input type="hidden" asp-for="Id" hidden value=@qt.Id />
                                                <input type="hidden" asp-for="Uid" hidden value=@qt.Uid.ToString() />
                                                @Html.HiddenFor(h => h.Question)
                                                <textarea class="form-control" asp-for="Answer" rows="3"></textarea>
                                                <br />
                                                <button class="btn btn-primary" type="submit">Answered</button>
                                            }

                                        }
                                    }


                                }
                            </div>
                        </div>
                        <br />
                    }
                }
                else
                {
                    <p>Not question posted yet .</p>
                }
            }
        </div>
    </div>
</div>
